body {
  max-width: 100vw;
  overflow-x: hidden;
}

main {
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

/* ベースカラー(バックグランド) */
.bg-danger {
  background-color: #f5004f;
}

.bg-warning {
  background-color: #ffaf00;
}

.bg-caution {
  background-color: #f9e400;
}

.bg-info {
  background-color: #7c00fe;
}

.bg-base-1 {
  background-color: #dbfff3;
}

.bg-base-2 {
  background-color: #31d8d3;
}

.bg-base-3 {
  background-color: #60dfb4;
}

.bg-base-4 {
  background-color: #5d5d5d;
}

.bg-base-5 {
  background-color: #00aaff;
}

.bg-text {
  background-color: #2c2c2c;
}

.bg-white {
  background-color: #eeeeee;
}

/* ボタン用 */
.btn-post {
  background-color: #60dfb4;
}
.btn-post:hover {
  background-color: #47a283;
}
.btn-post:active {
  background-color: #47a283 !important; /* !importantでこのCSSを優先させています */
}

/* 影 */
.svg-shadow {
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.2));
}

/* サイドバー */
.sidebar {
  background-color: #d9d9d9;
  width: 80px;
}
.bar {
  width: 40px;
  height: 4px;
}
.server {
  overflow: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  list-style-type: none;
}
.server-add {
  border: 1px solid #60dfb4;
}

/* ツールチップのcss */
.tooltip {
  position: relative;
  display: inline-block;
}
